<html>
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<br/>
<a href="?locale=ko">
    <b th:if="${#locale.toString().contains('ko')}">ko</b><span
        th:if="${#locale.toString().contains('en')}">ko</span>
</a><br/>
<a href="?locale=en">
    <b th:if="${#locale.toString().contains('en')}">en</b><span
        th:if="${#locale.toString().contains('ko')}">en</span>
</a><br/>

<a th:href="'/student/register'"><span th:text="#{addStudent}"/></a><br>
<button type="button" onclick="location.href='/thymeleaf/logout'">
    <span th:text="#{logout}"/></button>

</body>
</html>
